@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');


nav {
 text-align:center;
 margin-top: -50px;
}

nav li {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  margin-right: 40px;
  margin-left: 40px;
  background-color: white;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border: 1px solid black
}


h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(249, 246, 245);
  font-family: 'Lobster', cursive;
}

header {
  width: 100%;
  margin-top: 15px;
  background-color: rgb(188, 204, 245);
  margin-bottom: 15px;
  border: 1px dotted black;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding-bottom: 60px;
}
html {
  background-color: white;
}

body {
  background-color: rgb(212, 229, 247);
  margin: auto;
  width: 980px;
  border: 1px solid black;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  color: rgb(157, 67, 67);
  background-color: white;
  padding: 10px;
}

#top-section {
  margin-top: 70px;
}

.text-indent {
  text-indent: 30px;
}

#family-image img {
  width: 550px; 
}

.main-box {
  display: inline-block;
  width: 30%;
  margin: 15px;
  vertical-align: top;
}

.text-box {
  border: 1px dotted black;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.main-box p {
  text-align: left;
  line-height: 2.0em;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#merchandise-button {
  padding: 10px;
  height: 50px;
  width: 140px;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 15px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
#shirt-img{
  width: 450px;
  margin-left: 100px;
}

#cookie-cutter{
  width: 350px;
  
}

#cookie-image {
  width: 450px; 
  margin-left: 130px;
  margin-top: 30px;
}
#chinook-pic {
  margin-top: 50px;
  margin-left: 80px;
}

#fish-pic {
  margin-left: 100px;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif; 
}

input {
  height: 20px;
}

tr {
  border-bottom: 1px solid black;
}

th {
  text-align: left;
  padding: 5px;
  
}

td {
  padding: 12px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: rgb(250, 247, 237);
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(250, 247, 237);
  border: 1px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 2.0em;
  padding: 20px;
  color: rgb(48, 96, 72);
  border-radius: 20px;
}

.center {
  text-align: center;
}

#submit-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  width: 8em;
  height: 3em;
  font-size: 20px;
}

.table-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgb(157, 67, 67);  
}

footer {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}


